* {
  padding: 0;
  margin: 0;
  border: 0;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

.newSeason__newColection .newColection__title, .newSeason__season22 .season22__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newSeason__newColection .newColection__title h2, .newSeason__season22 .season22__title h2 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.newSeason__newColection .newColection__title div, .newSeason__season22 .season22__title div {
  border-bottom: 1px solid #FFFFFF;
  width: 120px;
  margin-bottom: 30px;
}

.newSeason__newColection .newColection__btn {
  transition: all 0.5s ease-out;
  background: transparent;
  padding: 12px 28px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.newSeason__newColection .newColection__btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  font-family: "PT Sans";
}
.header__popup {
  display: none;
}
.header__container {
  display: flex;
  flex-direction: column;
  min-width: 124px;
}
.header .subHeader {
  background: #000000;
}
.header .subHeader__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px 0px 14px 0px;
  color: #969696;
}
@media (max-width: 1050px) {
  .header .subHeader__container {
    justify-content: space-around;
  }
}
.header .subHeader__contact {
  display: flex;
}
.header .subHeader__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.header .subHeader__description span:not(:last-child) {
  margin-right: 10px;
}
.header .subHeader__callImg {
  margin-right: 15px;
}
.header .subHeader__login .login__img {
  opacity: 0.5;
  margin-right: 20px;
  transition: all 0.6s ease-in-out;
}
.header .subHeader__login .login__img:hover {
  opacity: 1;
}
.header .subHeader__login .login__url {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.header .subHeader__login .login__url span:hover {
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  color: #FFFFFF;
}
.header .menu {
  background: #0F0F0F;
}
.header .menu #hamb {
  display: none;
}
.header .menu__popup {
  display: none;
}
.header .menu .logo {
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.header .menu .logo__header {
  font-family: "Post No Bills Jaffna";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
.header .menu__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header .menu__list {
  display: flex;
}
.header .menu__link {
  display: inline-block;
  padding: 31px 18px 31px 20px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #969696;
  min-height: 100%;
}
.header .menu__link:last-child {
  padding: 31px 32px 31px 20px;
}
.header .menu__link:hover {
  transition: all 0.2s ease-in-out;
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.header .menu__icon {
  cursor: pointer;
}
.header .menu__icon :first-child {
  margin-right: 40px;
}
.header .menu__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .header {
    position: fixed;
    z-index: 10;
    max-height: 50px;
    width: 100%;
  }
  .header__line {
    display: none;
  }
  .header__container {
    background-color: #fff;
  }
  .header .subHeader {
    display: none;
  }
  .header .menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
  }
  .header .menu__container :first-child {
    margin-right: 20px;
  }
  .header .menu__icon {
    opacity: 0.3;
  }
  .header .menu__icon :first-child {
    margin-right: 20px;
  }
  .header .menu__icon:hover {
    opacity: 1;
  }
  .header .menu__list {
    display: none;
  }
  .header .menu__link {
    font-size: 14px;
  }
  .header .menu .logo {
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  .header .menu .logo__header {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 54px;
    color: #FFFFFF;
  }
  .header .menu #hamb {
    display: inline-block;
    opacity: 0.3;
  }
  .header .menu #hamb:hover {
    opacity: 1;
  }
  .header .hamb__wrapper {
    background: url("../img/header/burger-menu/Shape.png") center center/cover no-repeat;
    width: 25px;
    height: 18px;
    cursor: pointer;
  }
  .header__popup {
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100%;
    height: 100%;
    font-size: 28px;
    background-color: #585858;
    z-index: 100;
    display: block;
    transition: all 0.3s ease;
  }
  .header .open {
    left: 0;
  }
  .header .open .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .open .menu__list .menu__item {
    margin: 0px;
  }
  .header .open .menu__list .menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 761px) {
  .header .menu__link {
    font-size: 7px;
    padding: 18px;
  }
  .header .menu__link:last-child {
    padding: 18px;
  }
}
@media (max-width: 375px) {
  .header {
    transition: all 0.3s ease;
    padding: 0px;
    margin: 0px;
  }
  .header__popup {
    top: 10px;
  }
  .header .hamb__wrapper {
    transform: scale(0.4);
  }
  .header__popup {
    font-size: 12px;
  }
  .header .menu {
    position: relative;
  }
  .header .menu__container {
    position: absolute;
    top: -22px;
    left: 0;
    max-height: 32px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(10, 10, 10);
    width: 100%;
  }
  .header .menu__link {
    font-size: 6px;
    padding: 10px;
  }
  .header .menu__link:last-child {
    padding: 10px;
  }
  .header .menu__icon :first-child {
    margin-right: 0px;
  }
  .header .menu__icon img {
    transform: scale(0.4);
  }
  .header .menu .logo__header {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 54px;
    color: #FFFFFF;
  }
}
/*------------portenTitleSection-styles---------------*/
.portenTitle {
  font-family: "PT Sans";
  padding-top: 18%;
  min-height: 810px;
  background: url("../img/main/PortenDescribe/bg.png") center/cover no-repeat;
}
.portenTitle__container .itemTitle:not(:last-child) {
  margin-bottom: 9.87%;
}
.portenTitle__title {
  margin: 0 auto;
  max-width: 28.88%;
  padding: 11.48% 0px 11.48% 0px;
  border: 2px solid #FFFFFF;
}
.portenTitle__title .title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portenTitle__title p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.portenTitle__logo {
  font-family: "Post No Bills Jaffna";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 54px;
  color: #FFFFFF;
  padding-bottom: 5px;
  border-bottom: 2px solid #FFFFFF;
}
.portenTitle__describe {
  max-width: 65.76%;
  margin: 0px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*--------newSeasonSection-------*/
.newSeason {
  min-height: 730px;
  font-family: "Playfair Display";
}
.newSeason__container {
  display: flex;
}
.newSeason__season22 {
  background-color: rgb(0, 0, 0);
  max-width: 54%;
}
.newSeason__season22 .season22 {
  display: flex;
  flex-direction: column;
}
.newSeason__season22 .season22__wrapper {
  display: flex;
  flex-direction: column;
  padding: 93px 50px;
}
.newSeason__season22 .season22__title div, .newSeason__season22 .season22__title h2 {
  margin-bottom: 50px;
}
.newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper {
  padding: 20% 10% 15% 10%;
  min-width: 42%;
  max-width: 60%;
  background-color: rgb(34, 34, 34);
}
.newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper img {
  max-width: 92%;
  max-height: 36%;
  cursor: pointer;
  opacity: 0.6;
}
.newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper img:hover {
  opacity: 1;
}
.newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
.newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content:hover {
  text-decoration: underline;
}
@media (max-width: 826px) {
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
    font-size: 14px;
  }
}
.newSeason__newColection {
  min-width: 100%;
  max-height: 730px;
  padding-top: 22%;
  background: url("../img/main/NewColection/Rectangle 8.png") center center/cover no-repeat;
}
.newSeason__newColection .newColection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  max-width: 46.25%;
}
/*--------portenSection-------*/
@media (max-width: 675px) {
  .portenTitle__title p {
    font-size: 12px;
  }
  .portenTitle__logo {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 54px;
    color: #FFFFFF;
  }
  .portenTitle__describe {
    max-width: 65.76%;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media (max-width: 375px) {
  .portenTitle {
    min-height: 0px;
    max-height: 500px;
    padding-top: 0px;
  }
  .portenTitle__container .itemTitle:not(:last-child) {
    margin-bottom: 0px;
  }
  .portenTitle__title {
    border: none;
  }
  .portenTitle__title .title {
    padding: 0px;
  }
  .portenTitle__title .title__container {
    padding: 0px;
  }
  .portenTitle__title p {
    margin-top: -32px;
    font-size: 6px;
  }
  .portenTitle__logo {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 54px;
    color: #FFFFFF;
    border: 0px;
    text-decoration: underline 1px;
  }
  .portenTitle__describe {
    padding-bottom: 30px;
    max-width: 100%;
    font-size: 6px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
/*--------newSeasonSection---*/
@media (max-width: 675px) {
  .newSeason__season22 .season22__wrapper {
    padding: 10px;
  }
  .newSeason__season22 .season22__title h2 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .newSeason__season22 .season22__title div {
    margin-bottom: 10px;
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
    font-weight: 400;
    font-size: 6px;
    line-height: 10px;
    color: #FFFFFF;
  }
  .newSeason__newColection {
    min-width: 100%;
    max-height: 730px;
    padding-top: 0px;
    background: url("../img/main/NewColection/Rectangle 8.png") center center/cover no-repeat;
  }
  .newSeason__newColection .newColection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-width: 46.25%;
  }
  .newSeason__newColection .newColection__title h2 {
    font-size: 12px;
    margin-bottom: 0;
  }
  .newSeason__newColection .newColection__title div {
    margin-bottom: 10px;
  }
  .newSeason__newColection .newColection__btn {
    font-size: 8px;
    padding: 6px 14px;
  }
}
@media (max-width: 375px) {
  .newSeason__container {
    display: flex;
    flex-direction: column;
  }
  .newSeason__season22 {
    max-width: 100%;
    padding: 0px 20px 0px 20px;
  }
  .newSeason__season22 .season22__wrapper {
    padding: 10px;
  }
  .newSeason__season22 .season22__title h2 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .newSeason__season22 .season22__title div {
    margin-bottom: 10px;
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
    margin-top: 0;
    font-weight: 400;
    font-size: 6px;
    line-height: 10px;
    color: #FFFFFF;
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper {
    padding: 20% 10% 15% 10%;
    min-width: 40px;
    background-color: rgb(34, 34, 34);
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper img {
    max-width: 41px;
    max-height: 52px;
    cursor: pointer;
    opacity: 0.6;
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper img:hover {
    opacity: 1;
  }
  .newSeason__newColection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    padding-bottom: 20px;
    background: url("../img/main/NewColection/Rectangle 8.png") center center/cover no-repeat;
  }
  .newSeason__newColection .newColection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-width: 46.25%;
  }
  .newSeason__newColection .newColection__title h2 {
    font-size: 12px;
    margin-bottom: 0;
  }
  .newSeason__newColection .newColection__title div {
    margin-bottom: 10px;
  }
  .newSeason__newColection .newColection__btn {
    font-size: 8px;
    padding: 3px 7px;
  }
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1110px;
  box-sizing: content-box;
  margin: 0px auto;
  padding: 0 30px;
}/*# sourceMappingURL=style.css.map */