@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

.partners__title, .articles__title, .newClocks__title, .oldColection__title, .newSeason__newColection .newColection__title, .newSeason__season22 .season22__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partners__title h2, .articles__title h2, .newClocks__title h2, .oldColection__title h2, .newSeason__newColection .newColection__title h2, .newSeason__season22 .season22__title h2 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.partners__title div, .articles__title div, .newClocks__title div, .oldColection__title div, .newSeason__newColection .newColection__title div, .newSeason__season22 .season22__title div {
  border-bottom: 1px solid #FFFFFF;
  width: 120px;
  margin-bottom: 30px;
}

.articles__btn, .newClocks__clockItem .clockItem__btn, .oldColection__btn, .newSeason__newColection .newColection__btn {
  transition: all 0.5s ease-out;
  background: transparent;
  padding: 12px 28px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.articles__btn:hover, .newClocks__clockItem .clockItem__btn:hover, .oldColection__btn:hover, .newSeason__newColection .newColection__btn:hover {
  background-color: rgba(2, 2, 2, 0.7);
  filter: blur(0px);
}

.newClocks__clockItem .clockItem__imgWrapper, .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper {
  padding: 20% 10% 15% 10%;
  min-width: 42%;
  max-width: 60%;
  background-color: rgb(34, 34, 34);
  cursor: grab;
}
.newClocks__clockItem .clockItem__imgWrapper img, .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper img {
  max-width: 92%;
  max-height: 36%;
  cursor: pointer;
  opacity: 0.6;
}
.newClocks__clockItem .clockItem__imgWrapper img:hover, .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper img:hover {
  opacity: 1;
}

.newClocks__clockItem .clockItem__content, .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #D0D0D0;
  cursor: pointer;
}
.newClocks__clockItem .clockItem__content p:not(:last-child), .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content p:not(:last-child) {
  margin-bottom: 10px;
}
.newClocks__clockItem .clockItem__content:hover, .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content:hover {
  text-decoration: underline;
}
@media (max-width: 826px) {
  .newClocks__clockItem .clockItem__content, .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
    font-size: 14px;
  }
}

.footer__mailing .mailing__title, .footer__category .category__title, .footer__aboutCompany .aboutCompany__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer__mailing .mailing__form .form__submit, .footer__category .category__itemsWrapper a {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  background: #0F0F0F;
  padding: 10px 20px;
  transition: all 0.5s ease-out;
}
.footer__mailing .mailing__form .form__submit:hover, .footer__category .category__itemsWrapper a:hover {
  background: #313030;
}

.header {
  font-family: "PT Sans";
}
.header__popup {
  display: none;
}
.header__container {
  display: flex;
  flex-direction: column;
  min-width: 124px;
}
.header .subHeader {
  background: #000000;
}
.header .subHeader__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px 0px 14px 0px;
  color: #969696;
}
@media (max-width: 1050px) {
  .header .subHeader__container {
    justify-content: space-around;
  }
}
.header .subHeader__contact {
  display: flex;
}
.header .subHeader__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.header .subHeader__description span:not(:last-child) {
  margin-right: 10px;
}
.header .subHeader__callImg {
  margin-right: 15px;
}
.header .subHeader__login .login__img {
  opacity: 0.5;
  margin-right: 20px;
  transition: all 0.6s ease-in-out;
}
.header .subHeader__login .login__img:hover {
  opacity: 1;
}
.header .subHeader__login .login__url {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.header .subHeader__login .login__url span:hover {
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  color: #FFFFFF;
}
.header .menu {
  background: #0F0F0F;
}
.header .menu #hamb {
  display: none;
}
.header .menu__popup {
  display: none;
}
.header .menu .logo {
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.header .menu .logo__header {
  font-family: "Post No Bills Jaffna";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
.header .menu__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header .menu__list {
  display: flex;
}
.header .menu__link {
  display: inline-block;
  padding: 31px 18px 31px 20px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #969696;
  min-height: 100%;
}
.header .menu__link:last-child {
  padding: 31px 32px 31px 20px;
}
.header .menu__link:hover {
  transition: all 0.2s ease-in-out;
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.header .menu__icon {
  cursor: pointer;
}
.header .menu__icon :first-child {
  margin-right: 40px;
}
.header .menu__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .header {
    position: fixed;
    z-index: 10;
    max-height: 50px;
    width: 100%;
  }
  .header__line {
    display: none;
  }
  .header__container {
    background-color: #fff;
  }
  .header .subHeader {
    display: none;
  }
  .header .menu__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
  }
  .header .menu__container :first-child {
    margin-right: 20px;
  }
  .header .menu__icon {
    opacity: 0.3;
  }
  .header .menu__icon :first-child {
    margin-right: 20px;
  }
  .header .menu__icon:hover {
    opacity: 1;
  }
  .header .menu__list {
    display: none;
  }
  .header .menu__link {
    font-size: 14px;
  }
  .header .menu .logo {
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  .header .menu .logo__header {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 54px;
    color: #FFFFFF;
  }
  .header .menu #hamb {
    display: inline-block;
    opacity: 0.3;
  }
  .header .menu #hamb:hover {
    opacity: 1;
  }
  .header .hamb__wrapper {
    background: url("../img/header/burger-menu/Shape.png") center center/cover no-repeat;
    width: 25px;
    height: 18px;
    cursor: pointer;
  }
  .header__popup {
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100%;
    height: 100%;
    font-size: 28px;
    background-color: #585858;
    z-index: 100;
    display: block;
    transition: all 0.3s ease;
  }
  .header .open {
    left: 0;
  }
  .header .open .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .open .menu__list .menu__item {
    margin: 0px;
  }
  .header .open .menu__list .menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 761px) {
  .header .menu__link {
    font-size: 7px;
    padding: 18px;
  }
  .header .menu__link:last-child {
    padding: 18px;
  }
}
@media (max-width: 430px) {
  .header {
    transition: all 0.3s ease;
    padding: 0px;
    margin: 0px;
  }
  .header__popup {
    top: 10px;
  }
  .header .hamb__wrapper {
    transform: scale(0.4);
  }
  .header__popup {
    font-size: 16px;
  }
  .header .menu {
    position: relative;
  }
  .header .menu__container {
    position: absolute;
    top: -22px;
    left: 0;
    max-height: 32px;
    padding: 0px;
    margin: 0px;
    background-color: rgb(10, 10, 10);
    width: 100%;
  }
  .header .menu__link {
    font-size: 6px;
    padding: 10px;
  }
  .header .menu__link:last-child {
    padding: 10px;
  }
  .header .menu__icon :first-child {
    margin-right: 0px;
  }
  .header .menu__icon img {
    transform: scale(0.4);
  }
  .header .menu .logo__header {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 54px;
    color: #FFFFFF;
  }
}
/*------------portenTitleSection-styles---------------*/
.portenTitle {
  font-family: "PT Sans";
  padding-top: 18%;
  min-height: 810px;
  background: url("../img/main/PortenDescribe/bg.png") center/cover no-repeat;
}
.portenTitle__container .itemTitle:not(:last-child) {
  margin-bottom: 9.87%;
}
.portenTitle__title {
  margin: 0 auto;
  max-width: 28.88%;
  padding: 11.48% 0px 11.48% 0px;
  border: 2px solid #FFFFFF;
}
.portenTitle__title .title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portenTitle__title p {
  padding-top: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.portenTitle__logo {
  font-family: "Post No Bills Jaffna";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 54px;
  color: #FFFFFF;
  padding-bottom: 5px;
  border-bottom: 2px solid #FFFFFF;
}
.portenTitle__describe {
  max-width: 65.76%;
  margin: 0px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*--------newSeasonSection-------*/
.newSeason {
  min-height: 180px;
  font-family: "Playfair Display";
  background-color: rgb(0, 0, 0);
}
.newSeason__container {
  display: flex;
}
.newSeason__season22 {
  background-color: rgb(0, 0, 0);
  max-width: 54%;
}
.newSeason__season22 .season22 {
  display: flex;
  flex-direction: column;
}
.newSeason__season22 .season22__wrapper {
  display: flex;
  flex-direction: column;
  padding: 93px 50px;
}
.newSeason__season22 .season22__title div, .newSeason__season22 .season22__title h2 {
  margin-bottom: 50px;
}
.newSeason__newColection {
  min-width: 100%;
  padding-top: 22%;
  background: url("../img/main/NewColection/Rectangle 8.png") center center/cover no-repeat;
}
.newSeason__newColection .newColection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  max-width: 46%;
}
/*------OldColectionSection------*/
.oldColection {
  min-height: 600px;
  width: 100%;
  background: #000000;
}
.oldColection__conteiner {
  display: flex;
  justify-content: space-between;
}
.oldColection__imgWrapper {
  min-width: 48%;
}
.oldColection__img {
  display: inline-block;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.oldColection__wrapper {
  max-width: 52%;
}
.oldColection__content {
  margin-top: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.oldColection__describe {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  max-width: 55.76%;
}
.oldColection__btn {
  margin-top: 80px;
  margin-bottom: 6%;
}

/*--------newClocks--------*/
.newClocks {
  background: #000000;
  padding-top: 10.9%;
  min-height: 1100px;
}
.newClocks__title {
  margin-bottom: 7.2%;
}
.newClocks__clocksItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.newClocks__clockItem {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  position: relative;
}
.newClocks__clockItem:last-child img {
  filter: blur(3px);
}
.newClocks__clockItem .clockItem__imgWrapper {
  padding: 20% 10% 15% 10%;
  min-width: 82%;
  max-width: 100%;
}
.newClocks__clockItem .clockItem__btn {
  position: absolute;
  top: 30%;
  right: 7.5%;
  z-index: 20;
  filter: blur(0px);
}
.newClocks__clockItem .clockItem__btn:active {
  display: none;
}
.newClocks__clockItem .clockItem__btn:active ~ img {
  filter: blur(0px);
}

/*------ArticlesSection-----------*/
.articles {
  background: #0F0F0F;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
}
.articles__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articles__title {
  margin: 4.2% 0px 3% 0px;
}
.articles__img {
  max-width: 51%;
  max-height: 437px;
  object-fit: cover;
}
.articles__clocksItems {
  display: flex;
  flex-direction: column;
}
.articles__contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4% 5% 0% 7%;
}
.articles__contentWrapper h3 {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.articles__contentWrapper p {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.articles__itemWrapper {
  display: flex;
  min-height: 437px;
  position: relative;
}
.articles__itemWrapper:not(:first-child) {
  margin-bottom: 2%;
}
.articles__btnWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.articles__btnWrapper span {
  position: absolute;
  top: -15;
  right: 0%;
}
.articles__teg {
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*-----partnersSection--------*/
.partners {
  background: #0F0F0F;
  padding: 0px 8% 0px 8%;
}
.partners__title {
  padding-top: 4%;
  margin-bottom: 3%;
}
.partners__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 11%;
}
.partners__imgContainer {
  max-width: 60%;
}
.partners__imgContainer img {
  width: 100%;
}

/*--------portenSection-------*/
@media (max-width: 675px) {
  .portenTitle__title p {
    font-size: 12px;
  }
  .portenTitle__logo {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 54px;
    color: #FFFFFF;
  }
  .portenTitle__describe {
    max-width: 65.76%;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media (max-width: 430px) {
  .portenTitle {
    min-height: 0px;
    max-height: 500px;
    padding-top: 0px;
  }
  .portenTitle__container .itemTitle:not(:last-child) {
    margin-bottom: 0px;
  }
  .portenTitle__title {
    border: none;
  }
  .portenTitle__title .title {
    padding: 0px;
  }
  .portenTitle__title .title__container {
    padding: 0px;
  }
  .portenTitle__title p {
    margin-top: -32px;
    font-size: 6px;
  }
  .portenTitle__logo {
    font-family: "Post No Bills Jaffna";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 54px;
    color: #FFFFFF;
    border: 0px;
    text-decoration: underline 1px;
  }
  .portenTitle__describe {
    padding-bottom: 30px;
    max-width: 100%;
    font-size: 6px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
/*--------newSeasonSection---*/
@media (max-width: 675px) {
  .newSeason__season22 .season22__wrapper {
    padding: 10px;
  }
  .newSeason__season22 .season22__title h2 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .newSeason__season22 .season22__title div {
    margin-bottom: 10px;
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
    font-weight: 400;
    font-size: 6px;
    line-height: 10px;
    color: #FFFFFF;
  }
  .newSeason__newColection {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/main/NewColection/Rectangle 8.png") center center/cover no-repeat;
    padding-top: 0px;
  }
  .newSeason__newColection .newColection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-width: 46.25%;
  }
  .newSeason__newColection .newColection__title h2 {
    font-size: 12px;
    margin-bottom: 0;
  }
  .newSeason__newColection .newColection__title div {
    margin-bottom: 10px;
  }
  .newSeason__newColection .newColection__btn {
    font-size: 8px;
    padding: 6px 14px;
  }
}
@media (max-width: 430px) {
  .newSeason {
    min-height: 560px;
  }
  .newSeason__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .newSeason__season22 {
    max-width: 100%;
    padding: 0px 20px 0px 20px;
  }
  .newSeason__season22 .season22__wrapper {
    padding: 10px;
  }
  .newSeason__season22 .season22__title h2 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .newSeason__season22 .season22__title div {
    margin-bottom: 10px;
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__content {
    margin-top: 0;
    font-weight: 400;
    font-size: 6px;
    line-height: 10px;
    color: #FFFFFF;
  }
  .newSeason__season22 .season22__sliderWrapper .slider__clocksItem .clocksItem__imgWrapper {
    min-width: 40px;
  }
  .newSeason__newColection {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    padding-bottom: 20px;
  }
  .newSeason__newColection .newColection__title h2 {
    font-size: 12px;
    margin-bottom: 0;
  }
  .newSeason__newColection .newColection__title div {
    margin-bottom: 10px;
  }
  .newSeason__newColection .newColection__btn {
    font-size: 8px;
    padding: 3px 7px;
  }
}
/*--------oldColectionSection---*/
@media (max-width: 430px) {
  .oldColection {
    min-height: auto;
    width: 100%;
    margin-top: -260px;
  }
  .oldColection__conteiner {
    display: flex;
    flex-direction: center;
    align-items: center;
  }
  .oldColection__imgWrapper {
    display: none;
  }
  .oldColection__img {
    display: none;
  }
  .oldColection__wrapper {
    max-width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/main/OldColection/Rectangle 9.png") center center/cover no-repeat;
  }
  .oldColection__content {
    margin-top: 3%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .oldColection__title h2 {
    font-size: 14px;
    margin-bottom: 0;
  }
  .oldColection__describe {
    font-size: 8px;
    max-width: 90.76%;
  }
  .oldColection__describe ~ span {
    display: none;
  }
  .oldColection__btn {
    margin-top: 10px;
    margin-bottom: 2%;
    font-size: 8px;
    padding: 3px 7px;
    margin-bottom: 20px;
  }
}
/*--------newClocks---------*/
@media (max-width: 430px) {
  .newClocks {
    min-height: 200px;
    background: #000000;
    padding-top: 4.9%;
  }
  .newClocks__title {
    margin-bottom: 2.2%;
    padding: 0;
    margin-bottom: 0;
  }
  .newClocks__title h2 {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
  }
  .newClocks__clocksItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .newClocks__clockItem {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  .newClocks__clockItem:last-child img {
    filter: blur(3px);
  }
  .newClocks__clockItem .clockItem__imgWrapper {
    padding: 20% 22% 15% 10%;
    min-width: 82%;
    max-width: 100%;
  }
  .newClocks__clockItem .clockItem__imgWrapper img {
    max-width: 50px;
    max-height: 80px;
  }
  .newClocks__clockItem .clockItem__content {
    margin-top: 0px;
    font-size: 4px;
  }
  .newClocks__clockItem .clockItem__content p:not(:last-child) {
    margin-bottom: -20px;
  }
  .newClocks__clockItem .clockItem__btn {
    right: 0;
    z-index: 20;
    filter: blur(0px);
    padding: 1px 4px;
    font-size: 5px;
  }
  .newClocks__clockItem .clockItem__btn:active {
    display: none;
  }
  .newClocks__clockItem .clockItem__btn:active ~ img {
    filter: blur(0px);
  }
}
/*--------ArticlesSection---------*/
@media (max-width: 1280px) {
  .articles__btnWrapper span {
    right: 6%;
    font-size: 10px;
  }
}
@media (max-width: 1000px) {
  .articles__btnWrapper span {
    display: none;
  }
}
@media (max-width: 430px) {
  .articles {
    background: #0F0F0F;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
  }
  .articles__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .articles__title {
    margin-bottom: 2.2%;
    padding: 0;
    margin-bottom: 0;
  }
  .articles__title h2 {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
  }
  .articles__img {
    display: none;
  }
  .articles__clocksItems {
    display: flex;
    flex-direction: column;
  }
  .articles__contentWrapper {
    align-items: center;
    padding: 4% 5% 0% 7%;
  }
  .articles__contentWrapper h3 {
    margin-bottom: 14px;
    font-size: 10px;
    color: #FFFFFF;
  }
  .articles__contentWrapper h3:hover {
    text-decoration: underline;
  }
  .articles__contentWrapper p {
    margin-bottom: 10px;
    font-size: 6px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: justify;
  }
  .articles__itemWrapper {
    min-height: 100px;
  }
  .articles__itemWrapper:nth-child(1) {
    background: linear-gradient(rgba(10, 5, 5, 0.5), rgba(10, 5, 5, 0.5)), url("../img/main/clocksArticles/image 1.png") center center/cover no-repeat;
  }
  .articles__itemWrapper:nth-child(2) {
    background: linear-gradient(rgba(10, 5, 5, 0.5), rgba(10, 5, 5, 0.5)), url("../img/main/clocksArticles/image 1-1.png") center center/cover no-repeat;
  }
  .articles__itemWrapper:nth-child(2) h3 {
    font-size: 9px;
  }
  .articles__itemWrapper:nth-child(3) {
    background: linear-gradient(rgba(10, 5, 5, 0.5), rgba(15, 5, 5, 0.5)), url("../img/main/clocksArticles/image 1-2.png") center center/cover no-repeat;
  }
  .articles__itemWrapper:nth-child(3) h3 {
    text-align: center;
    font-size: 9px;
  }
  .articles__itemWrapper:not(:first-child) {
    margin-bottom: 0%;
  }
  .articles__btnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .articles__btnWrapper span {
    font-size: 6px;
    display: inline-block;
    position: static;
  }
  .articles__btn {
    font-size: 6px;
    padding: 3px 7px;
  }
  .articles__teg {
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
/*--------partnersSection--------*/
@media (max-width: 768px) {
  .partners {
    background: #0F0F0F;
  }
  .partners__title {
    margin-bottom: 0;
    padding: 0;
  }
  .partners__title h2 {
    padding: 0;
    margin-bottom: 0;
    font-size: 12px;
  }
  .partners__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .partners__imgContainer {
    max-width: 80px;
  }
}
.footer {
  padding-top: 80px;
  width: 100%;
  font-family: "Playfair Display";
  background: url("../img/footer/footer.png") center center/cover no-repeat;
}
.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer__contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__aboutCompany .aboutCompany {
  padding-right: 60px;
}
.footer__aboutCompany .aboutCompany__describe {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding-right: 31px;
}
.footer__category .category__itemsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__category .category__itemsWrapper div {
  display: flex;
}
.footer__category .category__itemsWrapper a {
  max-height: 20px;
  margin: 0px 6px 20px 0px;
}
.footer__category .category__itemsWrapper a span {
  margin-left: 4px;
}
.footer__category .category__accordion {
  display: none;
}
.footer__category .category__panelAccordion {
  display: none;
}
.footer__mailing .mailing__wrapper {
  margin-left: 80px;
}
.footer__mailing .mailing__describe {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.footer__mailing .mailing__form .form__wrapper {
  margin-top: 26px;
  display: flex;
}
.footer__mailing .mailing__form .form__wrapper:first-child {
  margin-right: 5px;
}
.footer__mailing .mailing__form .form__submit {
  font-family: "PT Sans";
  text-transform: uppercase;
}
.footer__mailing .mailing__form .form__inputEmail {
  background: rgba(255, 255, 255, 0.4);
  padding-left: 20px;
  color: #FFFFFF;
  outline: none;
}
.footer__mailing .mailing__form .form__inputEmail::placeholder {
  color: #FFFFFF;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 12%;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}
.footer__copyContent {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.footer__agreement {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}
.footer__agreement:hover {
  text-decoration-line: underline;
}

@media (max-width: 1110px) {
  .footer__aboutCompany .aboutCompany {
    padding-right: 60px;
  }
  .footer__aboutCompany .aboutCompany__title {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .footer__aboutCompany .aboutCompany__describe {
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
    padding-right: 31px;
    min-width: 200px;
  }
  .footer__category .category__title {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .footer__category .category__itemsWrapper a {
    font-size: 10px;
  }
  .footer__mailing .mailing__title {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .footer__mailing .mailing__describe {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .footer__mailing .mailing__form .form__wrapper {
    display: flex;
  }
  .footer__mailing .mailing__form .form__wrapper:first-child {
    margin-right: 5px;
  }
  .footer__mailing .mailing__form .form__submit {
    font-size: 10px;
  }
  .footer__mailing .mailing__form .form__inputEmail {
    font-size: 10px;
  }
  .footer__mailing .mailing__form .form__inputEmail::placeholder {
    font-size: 10px;
  }
}
@media (max-width: 851px) {
  .footer__aboutCompany .aboutCompany {
    padding-right: 20px;
  }
  .footer__aboutCompany .aboutCompany__title {
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .footer__aboutCompany .aboutCompany__describe {
    font-weight: 300;
    font-size: 6px;
    line-height: 150%;
    color: #FFFFFF;
    padding-right: 5px;
    min-width: 100px;
  }
  .footer__category .category__title {
    padding: 0;
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .footer__category .category__itemsWrapper a {
    font-size: 6px;
    margin: 0px 0px 0px 0px;
  }
  .footer__mailing .mailing__wrapper {
    margin-left: 10px;
  }
  .footer__mailing .mailing__title {
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 6px;
  }
  .footer__mailing .mailing__describe {
    font-size: 6px;
    margin-bottom: 6px;
  }
  .footer__mailing .mailing__form .form__wrapper {
    display: flex;
  }
  .footer__mailing .mailing__form .form__wrapper:first-child {
    margin-right: 5px;
  }
  .footer__mailing .mailing__form .form__submit {
    font-size: 6px;
    padding: 3px;
  }
  .footer__mailing .mailing__form .form__inputEmail {
    font-size: 6px;
  }
  .footer__mailing .mailing__form .form__inputEmail::placeholder {
    font-size: 6px;
  }
  .footer__copyright {
    font-weight: 300;
    font-size: 8px;
    line-height: 16px;
    color: #D0D0D0;
  }
}
@media (max-width: 500px) {
  .footer__aboutCompany .aboutCompany {
    padding-right: 10px;
  }
  .footer__aboutCompany .aboutCompany__title {
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .footer__aboutCompany .aboutCompany__describe {
    font-weight: 300;
    font-size: 4px;
    line-height: 110%;
    color: #FFFFFF;
    padding-right: 5px;
    min-width: 100px;
  }
  .footer__category .category__title {
    padding: 0;
    font-size: 8px;
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .footer__category .category__itemsWrapper a {
    font-size: 4px;
    margin: 0px 0px 0px 0px;
  }
  .footer__mailing .mailing__wrapper {
    margin-left: 0px;
  }
  .footer__mailing .mailing__title {
    font-size: 8px;
    color: #FFFFFF;
    margin-bottom: 0px;
  }
  .footer__mailing .mailing__describe {
    font-size: 4px;
    margin-bottom: 4px;
  }
  .footer__mailing .mailing__form .form__wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__mailing .mailing__form .form__wrapper:first-child {
    margin-right: 0px;
  }
  .footer__mailing .mailing__form .form__submit {
    font-size: 4px;
    padding: 0px;
  }
  .footer__mailing .mailing__form .form__inputEmail {
    font-size: 4px;
  }
  .footer__mailing .mailing__form .form__inputEmail::placeholder {
    font-size: 4px;
  }
}
@media (max-width: 430px) {
  .footer {
    min-height: 50px;
    padding-top: 20px;
  }
  .footer__aboutCompany {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__aboutCompany .aboutCompany__describe {
    font-weight: 400;
    font-size: 6px;
    line-height: 150%;
  }
  .footer__contentWrapper {
    display: flex;
    flex-direction: column;
  }
  .footer__category .category__title {
    display: none;
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .footer__category .category__itemsWrapper {
    display: none;
  }
  .footer__category .category__accordion {
    margin: 10px auto;
    display: block;
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    transition: 0.4s;
  }
  .footer__category .category__accordion:after {
    content: "+";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .footer__category .category__accordion:hover {
    text-decoration: underline;
  }
  .footer__category .category__panelAccordion {
    display: block;
    background: rgba(0, 0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .footer__category .category__panelAccordion a {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    color: #D0D0D0;
    background: #0F0F0F;
    padding: 2px 4px;
    transition: all 0.5s ease-out;
  }
  .footer__category .category__panelAccordion a:hover {
    background: #313030;
  }
  .footer__category .category__active:after {
    content: "−";
    background-color: rgb(0, 0, 0);
  }
  .footer__mailing .mailing__wrapper {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer__mailing .mailing__title {
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 2px;
  }
  .footer__mailing .mailing__describe {
    font-size: 6px;
    margin-bottom: 6px;
    line-height: 150%;
  }
  .footer__mailing .mailing__form .form__wrapper {
    display: flex;
    flex-direction: row;
  }
  .footer__mailing .mailing__form .form__wrapper:first-child {
    margin-right: 5px;
  }
  .footer__mailing .mailing__form .form__submit {
    font-size: 6px;
    padding: 3px;
  }
  .footer__mailing .mailing__form .form__inputEmail {
    font-size: 6px;
  }
  .footer__mailing .mailing__form .form__inputEmail::placeholder {
    font-size: 6px;
  }
  .footer__copyright {
    font-weight: 300;
    font-size: 4px;
    line-height: 16px;
    color: #D0D0D0;
  }
  .footer__copyContent {
    left: 10px;
  }
  .footer__agreement {
    right: 10px;
  }
}
body, head {
  width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1110px;
  box-sizing: content-box;
  margin: 0px auto;
  padding: 0 30px;
}

.main {
  flex: 1 1 auto;
}/*# sourceMappingURL=style.css.map */