.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    font-family: 'PT Sans';
    &__container {
        display: flex;
        flex-direction: column;
        min-width: 124px;
    }
    .subHeader {
        background: #000000;
        &__container {
             display:flex;
             justify-content:space-between;
             padding:14px 0px 14px 0px;
             color: $grey;
        }
        &__contact {
            display:flex;
       }
        &__description {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            span:not(:last-child) {
                margin-right: 10px;
            }
        }
        &__callImg {
            margin-right: 15px;
        }
        &__login {
            .login {
                &__url {
                    color:inherit;
                    font-family: inherit;
                    font-size: inherit;
                }
            }
        }
     }
   
    .menu {
        background: #0F0F0F;
        .logo {
            display: flex;
            align-items: center;
            margin-left: -10px;
            &__header {
                @include logo(36px)
            }
        }
        &__content {
            display: flex;
            align-items: center;
            justify-content:center;
            
            
        }
        &__list {
            display: flex;
        }
        &__link {
            display: inline-block;
            padding: 31px 18px 31px 20px; 
            font-family: 'PT Sans';
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            color: $grey;
            min-height: 100%;
            &:last-child {
                padding: 31px 32px 31px 20px; 
            }
            &:hover {
                background-color: #1F1F1F;
                color: $white;
            }

        }

        &__icon {
            & :first-child {
            margin-right: 40px;
            }
            cursor: pointer;
        }
        &__container {
            display: flex;
            justify-content:space-between;  
        }
    }
    
}

._container {
}
.subHeader {
}
.subHeader__container {
}
.subHeader__contact {
}
.subHeader{
}


.login {
}
.login__url {
}
.login__img {
}
.header__menu {
}
.menu {
}
.menu__logo {
}
.logo {
}
.logo__header {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.menu__icons {
}
.menu__icon {
}