/*------------portenTitle-styles---------------*/

.portenTitle {
    font-family: 'PT Sans';
    padding-top: 18%;
    min-height: 810px;
    background: url('../img/main/PortenDescribe/bg.png') center center/cover no-repeat;
    &__container {
        .itemTitle:not(:last-child) {
             margin-bottom: 9.87%;
        }
    }
    &__title {
        margin: 0 auto;
        max-width:28.88%; 
        padding: 11.48% 0px 11.48% 0px;
        border: 2px solid #FFFFFF;
        .title {
            &__container {
                display:flex;
                flex-direction: column;
                align-items:center;
            }
        }
       
        p { 
            padding-top: 10px;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: $white;
        }
    }
    &__logo {
        @include logo(64px);
        padding-bottom: 5px;
        border-bottom: 2px solid $white;
    }
    &__describe { 
        max-width: 65.76%;
        margin: 0px auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: $white;
       
}
}



