/*------------portenTitleSection-styles---------------*/
.portenTitle {
    font-family: 'PT Sans';
    padding-top: 18%;
    min-height: 810px;
    background: url('../img/main/PortenDescribe/bg.png')  center/cover no-repeat;
    &__container {
        .itemTitle:not(:last-child) {
             margin-bottom: 9.87%;
        }
    }
    &__title {
        margin: 0 auto;
        max-width:28.88%; 
        padding: 11.48% 0px 11.48% 0px;
        border: 2px solid #FFFFFF;
        .title {
            &__container {
                display:flex;
                flex-direction: column;
                align-items:center;
            }
        }
       
        p { 
            padding-top: 10px;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            text-transform: uppercase;
            color: $white;
        }
    }
    &__logo {
        @include logo(64px);
        padding-bottom: 5px;
        border-bottom: 2px solid $white;
    }
    &__describe { 
        max-width: 65.76%;
        margin: 0px auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: $white;
       
}
}

/*--------newSeasonSection-------*/

.newSeason {
    min-height: 180px;
    font-family: 'Playfair Display';
    &__container {
        display: flex;
    }
    &__season22 {
        background-color: rgb(0, 0, 0);
        max-width: 54%;
        .season22 {
            display : flex;
            flex-direction: column;
            &__wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 93px 50px;
            }
            &__title { 
                @extend %underline-title;
                div,h2 {
                    margin-bottom: 50px;
                }
            }
            &__sliderWrapper {
              
                .slider { 
                    &__clocksItem {  
                        .clocksItem  {
                            &__imgWrapper {
                                @extend %imgClock-styles;
                            }
                            &__content {
                                @extend %contentClock-styles ; 
                            }
                        }
                    }
                }
            }   
        }
    }
    &__newColection {
        min-width: 100%;
        padding-top: 22%;
        background: url('../img/main/NewColection/Rectangle\ 8.png') center center/cover no-repeat;
        .newColection {
            &__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 100%;
                max-width:46%;        
            }
            &__title {
                @extend %underline-title; 
            }
            &__btn {
                @extend %porter-btn;

            }
        }
    }
}
/*------OldColectionSection------*/

.oldColection {
    min-height: 600px;
    width:100%;
    background: #000000;
    &__conteiner {
        display: flex;
        justify-content: space-between;
        
    }
    &__imgWrapper {
        min-width: 48%;
        
    }
    &__img {
        display: inline-block;
        min-height:100%;
        width: 100%;
        height:100%;
        object-fit: cover;

    }
    &__wrapper {
        max-width: 52%;
    }
    &__content {
        margin-top: 16%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
    &__title {
        @extend %underline-title;
    }
    &__describe {
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        //min-width:55.76%;
        max-width: 55.76%;
    }
    &__btn {
        margin-top: 80px;
        margin-bottom: 6%;
        @extend %porter-btn;
    }
}


/*--------newClocks--------*/

.newClocks {
    background: #000000;
    padding-top:10.9%;
    min-height: 1100px;
    &__title {
        @extend %underline-title; 
        margin-bottom: 7.2%;
    }
    &__clocksItems {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    }
    &__clockItem {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
        position: relative;
        &:last-child {
            img {
                filter: blur(3px);
            }
        }
        .clockItem {
            &__imgWrapper {
                @extend %imgClock-styles;
                padding: 20% 10% 15% 10%;
                min-width: 82%;
                max-width: 100%;
            }
            &__content {
                @extend %contentClock-styles; 
                            
            }
            &__btn {
                @extend %porter-btn;
                position:absolute;
                top:30%;
                right: 7.5%;
                z-index: 20;
                filter: blur(0px);
                &:active {
                    &~img {
                        filter: blur(0px);
                    }
                    display: none;
                    
                }
            }
        }
            

        }
    }
/*------ArticlesSection-----------*/

.articles {
    //min-height: 1582px;
    background: #0F0F0F;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    &__title {
        @extend %underline-title; 
        margin: 4.2% 0px 3% 0px;
    }
    &__img {
        max-width: 51%;
        max-height: 437px;
        object-fit: cover;
    }
    
    &__clocksItems {
        display: flex;
        flex-direction: column; 

    }
    &__contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4% 5% 0% 7%;
        h3 {
            margin-bottom: 14px;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $white;
        }
        p {
            margin-bottom: 35px;
            font-size: 14px;
            line-height: 150%;
            color: $white;
        }
    }
    &__itemWrapper {
        display: flex;
        min-height: 437px;
        position: relative;
        &:not(:first-child) {
            margin-bottom: 2%;
        }

    }
    &__btnWrapper {
        display: flex;
        justify-content:flex-end;
        align-items: flex-end;
        span {
            position:absolute;
            top: -15;
            right: 0%; 
        }
    }
    &__btn {
        @extend %porter-btn;
    }
    
    &__teg {
        font-size: 18px;
        line-height: 23px;
        text-align: right;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $white;
    }

}

