/*--------portenSection-------*/
@media (max-width:675px) {
    .portenTitle {
        &__title { 
            p { 
                font-size: 12px;
               
            }
        }
        &__logo {
            @include logo(34px);
            
        }
        &__describe { 
            max-width: 65.76%;
            font-size: 12px;
            line-height: 120%;
            text-align: center;
            text-transform: uppercase;
            color: $white;  
        }
    }
        
}
@media (max-width:375px) { 
    .portenTitle {
        min-height: 0px;
        max-height: 500px;
        padding-top:0px;
        &__container {
            .itemTitle:not(:last-child) {
                margin-bottom:0px;
           }
        }
        &__title {
            border: none;
           
            .title {
                padding: 0px;
                &__container {
                    padding: 0px;  
                }
            }
            p { 
                margin-top: -32px;
                font-size: 6px;
            }
        }
        &__logo {
            @include logo(24px);
            border:0px;
            text-decoration: underline 1px;
            
        }
        &__describe { 
            padding-bottom: 30px;
            max-width: 100%;
            font-size: 6px;
            line-height: 120%;
            text-align: center;
            text-transform: uppercase;
            color: $white;
           
        }
    }
        

}

/*--------newSeasonSection---*/

@media (max-width:675px) {
    .newSeason {
        &__season22 {
            .season22 {
                &__wrapper {
                    padding: 10px;
                }
                &__title { 
                    h2 {
                        font-size: 12px;
                        margin-bottom: 0px;
                    }
                    div {
                        margin-bottom: 10px;
                    }
                }
                &__sliderWrapper {
                  
                    .slider { 
                        &__clocksItem {  
                            .clocksItem  {
                                &__content {    
                                    font-weight: 400;
                                    font-size: 6px;
                                    line-height: 10px;
                                    color: $white;  
                                }
                            }
                        }
                    }
                }   
            }
        }
        &__newColection {
            background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),url('../img/main/NewColection/Rectangle\ 8.png') center center/cover no-repeat;
            padding-top: 0px;
            .newColection {
                &__content {
                    display: flex;
                    flex-direction: column; 
                    align-items: center;
                    justify-content:center;
                    min-height: 100%;
                    max-width:46.25%;        
                }
                &__title {
                   h2 {
                        font-size: 12px;
                        margin-bottom: 0;
                   }
                   div {
                        margin-bottom: 10px;
                   }
                }
                &__btn {
                   font-size: 8px;
                   padding: 6px 14px;
    
                }
            }
        }
    }
}

@media (max-width:375px) {
    .newSeason {
        min-height: 530px;
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__season22 {
            max-width: 100%;
            padding: 0px 20px 0px 20px;  
        }
        &__season22 {
            .season22 {
                &__wrapper {
                    padding: 10px;
                }
                &__title { 
                    h2 {
                        font-size: 12px;
                        margin-bottom: 0px;
                    }
                    div {
                        margin-bottom: 10px;
                    }
                }
                &__sliderWrapper {
                    .slider { 
                        &__clocksItem {  
                            .clocksItem  {
                                &__content {    
                                    margin-top: 0;
                                    font-weight: 400;
                                    font-size: 6px;
                                    line-height: 10px;
                                    color: $white;  
                                }
                                &__imgWrapper {
                                    min-width: 40px;
                                }
                            }
                        }
                    }
                }   
            }
        }
        &__newColection {
            display: flex;
            align-items: center;
            justify-content:center;
            min-width: 100%;
            padding-bottom: 20px;
            .newColection {
                &__title {
                   h2 {
                        font-size: 12px;
                        margin-bottom: 0;
                   }
                   div {
                        margin-bottom: 10px;
                   }
                }
                &__btn {
                   font-size: 8px;
                   padding: 3px 7px;
    
                }
            }
        }
    }
}

/*--------oldColectionSection---*/

@media (max-width:375px) {
    .oldColection {
        min-height: auto;
        width:100%;
        margin-top: -260px;///
        &__conteiner {
            display: flex;//
            flex-direction: center;
            align-items: center;
            
        }
        &__imgWrapper {
            display:none;
            
        }
        &__img {
            display:none;
        }
        &__wrapper {
            max-width: 100%;//
            background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),url('../img/main/OldColection/Rectangle\ 9.png') center center/cover no-repeat;
        }
        &__content {
            margin-top: 3%;
            max-width: 100%;//
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content:center;//
            
        }
        &__title {

            @extend %underline-title;
            h2 { 
                font-size: 14px;
                margin-bottom: 0;
            }
        }
        &__describe {
            font-size: 8px;
            max-width: 90.76%;///
            &~span {
                display:none;
            }
        }
        
        &__btn {
            @extend %porter-btn;
            margin-top: 10px;
            margin-bottom: 2%;
            font-size: 8px;
            padding: 3px 7px;
            margin-bottom: 20px;
        }
    }
}

/*--------newClocks---------*/

@media (max-width:375px) {
    .newClocks {
        min-height: 200px;
        background: #000000;
        padding-top:4.9%;

        &__title {
            margin-bottom: 2.2%;
            padding: 0;
            margin-bottom:0;
            h2 {
                font-size: 12px;
                padding: 0;
                margin-bottom:0;
            }
        }
        &__clocksItems {
            display: flex;
            justify-content:center;
            flex-wrap: wrap;
        }
        &__clockItem {
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 5px;
            position: relative;
            &:last-child {
                img {
                    filter: blur(3px);
                }
            }
            .clockItem {
                &__imgWrapper {
                    padding: 20% 22% 15% 10%;
                    min-width: 82%;
                    max-width: 100%;
                    img {
                        max-width:50px;
                        max-height:80px;
                    }
                }
                &__content {
                    margin-top:0px;
                    font-size: 4px;
                    p:not(:last-child){
                        margin-bottom: -20px;
                    }
                                
                }
                &__btn {
                    right: 0;
                    z-index: 20;
                    filter: blur(0px);
                    &:active {
                        &~img {
                            filter: blur(0px);
                        }
                        display: none;
                        
                    }
                    padding: 1px 4px;
                    font-size: 5px;
                }
            }
        }
    }
}

/*--------ArticlesSection---------*/
@media (max-width:1280px) {
    .articles {
        &__btnWrapper {
            span {
                right: 6%;
                font-size: 10px;
            }
        }
    }
}
@media (max-width:1000px) {
    .articles {
        &__btnWrapper {
            span {
                display:none;
            }
 
        }
    }
}
@media (max-width:375px) {
    .articles {
        background: #0F0F0F;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 400;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
        }
        &__title {
            margin-bottom: 2.2%;
            padding: 0;
            margin-bottom:0;
            h2 {
                font-size: 12px;
                padding: 0;
                margin-bottom:0;
            }
        }
        &__img {
            display:none;
        }
        
        &__clocksItems {
            display: flex;
            flex-direction: column; 
    
        }
        &__contentWrapper {
            align-items: center;
            padding: 4% 5% 0% 7%;
            h3 {
                margin-bottom: 14px;
                font-size: 10px;
                color: $white;
                &:hover {
                    text-decoration:underline;
                }
            }
            p {
                margin-bottom: 10px;
                font-size: 6px;
                line-height: 150%;
                color: $white;
                text-align:justify;
            }
        }
        &__itemWrapper {
            &:nth-child(1) {
                background: linear-gradient( rgba(10, 5, 5, 0.5), rgba(10, 5, 5, 0.5)),url('../img/main/clocksArticles/image\ 1.png') center center/cover no-repeat;
            }
            &:nth-child(2) {
                background: linear-gradient( rgba(10, 5, 5, 0.5), rgba(10, 5, 5, 0.5) ),url('../img/main/clocksArticles/image\ 1-1.png') center center/cover no-repeat;
                h3 {
                    font-size: 9px;
                }
            }
            &:nth-child(3) {
                background: linear-gradient( rgba(10, 5, 5, 0.5), rgba(15, 5, 5, 0.5) ),url('../img/main/clocksArticles/image\ 1-2.png') center center/cover no-repeat;
                h3 {
                    text-align: center;
                    font-size: 9px;
                }
            }
            min-height: 100px;
   
            &:not(:first-child) {
                margin-bottom: 0%;
            }
    
        }
        &__btnWrapper {
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            align-items: center;
            span {
                font-size: 6px;
                display: inline-block;
                position:static;
            }
        }
        &__btn {
            font-size: 6px;
            padding: 3px 7px;
        }
        
        &__teg {
            font-size: 18px;
            line-height: 23px;
            text-align: right;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $white;
        }
    
    }
    
    

}